:root {
    --score-color: null;
}
.scoreVisualizer {
    border-radius: 25px;
    background-color: var(--score-color);
    padding-top: 7px;
    text-align: center;
    width: 200px;
    height: 50px;
}


























#stop_watch_container {
    height: 200px;
    width: 400px;
    border-radius: 200px 200px 0 0;
    background-image: conic-gradient(from -90deg at 50% 100%, #ffca3a 0deg 52.7deg, #1982c4 54deg 82.7deg, #8ac926 84deg 96deg, #1982c4 97.3deg 126deg, #ffca3a 127.3deg 180deg);
}
.scoreVisualizerParent {
    height: 400px;
    width: 400px;
    background-color: #6c757d;
    border-radius: 50%;
    display: inline-block;
}

.scoreVisualizerChild {
    height: 50%;
    width: 50%;
    background-color: var(--score-color);
    border-radius: 50%;
    display: inline-block;
    clip-path: circle(25%);
    transition: clip-path 1s;
}

scoreVisualizerParent:hover .scoreVisualizerChild {
    animation: wipe-clockwise 1s ease-in forwards;
}

.scoreVisualizerParent:hover .scoreVisualizerChild {
    clip-path: circle(20px);
}



@keyframes wipe-clockwise {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateY(100%);
    }

    66% {
        transform: translateX(100%) translateY(100%);

    }

    100% {
        transform: translateX(100%);
    }
}